<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Test</title>
</head>
<body>
  <table border>
    <tr>
      <th>学籍番号</th>
      <th>氏名</th>
      <th>E-mail</th>
    </tr>

    <% @students.each do |stu| %>
    <tr>
      <td><%= stu.id %></td>
      <td><%= stu.name %></td>
      <td><%= stu.email %></td>
      <form method="post" action="del">
      <td><input type="submit" value="削除"></td>
          <input type="hidden" name="id" value="<%= stu.id %>">
          <input type="hidden" name="_method" value="delete">
      </form>
      </td>
    </tr>
    <% end %>

    <form method="post" action="new">
    <tr>
      <td><input type="text" name="id"></td>
      <td><input type="text" name="name"></td>
      <td><input type="text" name="email"></td>
      <td><input type="submit" value="登録"></td>
    </tr>

  </table>
</body>
</html>
